---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Ilzam, a fullsnack developer from .
      <br />
       My primary tools of choice encompass :
      <ul class="list-disc list-inside">
        <li>Flutter</li>
        <li>Laravel</li>
        <li>Svelte</li>
        <li>Docker, etc</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Prioritize optimal solutions for each task, regardless of my usual
      toolkit. My overarching goal is to identify and implement the most
      suitable solutions for every project.
    </p>
  </div>
</Card>
